@inherits LayoutComponentBase

<div>
	@Body
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>

<ToastNotification @ref="_toastNotification" />

<BluetoothReconnectDialog @ref="_bluetoothReconnectDialog" PrinterName="@_savedPrinterName" Disabled="_isReconnecting"
						  OnReconnect="ReconnectPrinterFromDialog" OnDismiss="DismissReconnectDialog" />
