<SfDialog @ref="_dialog" Width="420px" IsModal="true" ShowCloseIcon="true" @bind-Visible="_isVisible">

	<MudBlazor.MudHotkey Key=JsKey.Enter OnHotkeyPressed="HandleConfirm" />
	<MudBlazor.MudHotkey Key=JsKey.Escape OnHotkeyPressed="HandleCancel" />

	<DialogTemplates>
		<Header>
			<div class="cd-header">
				<span class="e-icons e-circle-info cd-header-icon"></span>
				<span>@Title</span>
			</div>
		</Header>
		<Content>
			@Message
		</Content>
		<FooterTemplate>
			<SfButton Content="Cancel" OnClick="HandleCancel" />
			<SfButton Content="@(string.IsNullOrWhiteSpace(ConfirmText) ? Title : ConfirmText)" IsPrimary="true" OnClick="HandleConfirm" />
		</FooterTemplate>
	</DialogTemplates>
</SfDialog>